wp-config.php
wp-config-web.php
index.php
wp-activate.php
wp-comments-post.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
license.txt

#Folders to ignore
wp-admin/
wp-includes/

